name: backend-template-service
services:
  app:
    container_name: backend-template-app # Rename as needed
    build:
      context: ../ # relative to this file
      dockerfile: docker/Dockerfile.dev # relative to the build context
    volumes:
      - ../:/app:delegated
      - /app/node_modules
    env_file:
      - .env # relative to this file
    ports:
      - "${BT_PORT}:${BT_PORT}" # Map port host:container
    environment:
      - BT_NODE_ENV=development
      - BT_PORT=${BT_PORT}
      - BT_POSTGRES_HOST=postgres_db # Use service name instead of localhost
      - BT_POSTGRES_USER=${BT_POSTGRES_USER}
      - BT_POSTGRES_PASSWORD=${BT_POSTGRES_PASSWORD}
      - BT_POSTGRES_DATABASE=${BT_POSTGRES_DATABASE}
      - BT_MONGODB_HOST=mongo_db # Use service name instead of localhost
      - BT_MONGODB_PORT=${BT_MONGODB_PORT}
      - BT_MONGODB_DATABASE=${BT_MONGODB_DATABASE}
      - BT_MONGODB_USER=${BT_MONGODB_USER}
      - BT_MONGODB_PASSWORD=${BT_MONGODB_PASSWORD}
      - BT_REDIS_HOST=redis_cache # Use service name instead of localhost
      - BT_REDIS_PORT=${BT_REDIS_PORT}
      - BT_REDIS_PASSWORD=${BT_REDIS_PASSWORD}
    depends_on:
      mongo_db:
        condition: service_healthy
      postgres_db:
        condition: service_healthy
      redis_cache:
        condition: service_healthy
    command: /bin/sh -c "npm run start"
    user: node
    restart: unless-stopped
    networks:
      - app-network

  postgres_db:
    image: postgres:latest
    env_file:
      - .env
    ports:
      - "${BT_POSTGRES_PORT}:${BT_POSTGRES_PORT}"
    environment:
      - POSTGRES_USER=${BT_POSTGRES_USER}
      - POSTGRES_PASSWORD=${BT_POSTGRES_PASSWORD}
      - POSTGRES_DB=${BT_POSTGRES_DATABASE}
    volumes:
      - pgdata:/var/lib/postgresql/data # Where Postgres stores its data by default
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 1s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - app-network

  mongo_db:
    image: mongo:latest
    env_file:
      - .env
    ports:
      - "${BT_MONGODB_PORT}:${BT_MONGODB_PORT}"
    volumes:
      - mongodb_data:/data/db # Where MongoDB stores its data by default
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${BT_MONGODB_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${BT_MONGODB_PASSWORD}
      - MONGO_INITDB_DATABASE=${BT_MONGODB_DATABASE}
    healthcheck:
      test:
        [
          "CMD",
          "mongosh",
          "--authenticationDatabase=admin",
          "-u",
          "${BT_MONGODB_USER}",
          "-p",
          "${BT_MONGODB_PASSWORD}",
          "--eval",
          "db.runCommand('ping').ok",
          "--quiet",
        ]
      interval: 10s
      timeout: 10s
      retries: 5
    restart: unless-stopped
    networks:
      - app-network

  redis_cache:
    image: redis:latest
    env_file:
      - .env
    ports:
      - "${BT_REDIS_PORT}:${BT_REDIS_PORT}"
    volumes:
      - redis_data:/data # Where Redis stores its data by default
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${BT_REDIS_PASSWORD}", "ping"]
      interval: 10s
      timeout: 10s
      retries: 5
    command: ["redis-server", "--requirepass", "${BT_REDIS_PASSWORD}"]
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  pgdata:
  mongodb_data:
  redis_data:
