name: backend-template-service
services:
  app:
    container_name: backend-template-app
    build:
      context: ../ # relative to this file
      dockerfile: docker/Dockerfile.prod # relative to the build context
    env_file:
      - .env.production # relative to this file
    ports:
      - "${BT_PORT}:${BT_PORT}" # Map port host:container
    environment:
      - BT_NODE_ENV=production
      - BT_PORT=${BT_PORT}
      # - BT_POSTGRES_HOST=${BT_POSTGRES_HOST}
      # - BT_POSTGRES_USER=${BT_POSTGRES_USER}
      # - BT_POSTGRES_PASSWORD=${BT_POSTGRES_PASSWORD}
      # - BT_POSTGRES_DATABASE=${BT_POSTGRES_DATABASE}
      # - BT_MONGODB_HOST=${BT_MONGODB_HOST}
      # - BT_MONGODB_PORT=${BT_MONGODB_PORT}
      # - BT_MONGODB_DATABASE=${BT_MONGODB_DATABASE}
      # - BT_MONGODB_USER=${BT_MONGODB_USER}
      # - BT_MONGODB_PASSWORD=${BT_MONGODB_PASSWORD}
      # - BT_REDIS_HOST=${BT_REDIS_HOST}
      # - BT_REDIS_PORT=${BT_REDIS_PORT}
      # - BT_REDIS_PASSWORD=${BT_REDIS_PASSWORD}
    command: /bin/sh -c "npm run start"
    user: node
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
